<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">

<th:block layout:fragment="html_head">
    <title>마이레시피 - 레시피 수정</title>
</th:block>

<th:block layout:fragment="custom_css">
</th:block>

<th:block layout:fragment="content_body">
    <div class="wrapper py-5 bg-light">
        <div class="container">
            <div class="card card-register">
                <div class="card-header">레시피 기본정보</div>
                <div class="card-body">
                    <form id="main">
                        <div class="form-group row">
                            <label for="title" class="col-sm-2 col-form-label">레시피 제목</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="title" id="title"
                                       th:value="${recipeView.getTitle()}"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="estimatedTime" class="col-sm-2 col-form-label">소요시간</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="estimatedTime" name="estimatedTime">
                                    <option>소요시간 선택</option>
                                    <option value="5">5분</option>
                                    <option value="10">10분</option>
                                    <option value="15">15분</option>
                                    <option value="20">20분</option>
                                    <option value="30">30분</option>
                                    <option value="40">40분</option>
                                    <option value="50">50분</option>
                                    <option value="60">1시간</option>
                                    <option value="90">1시간 30분</option>
                                    <option value="120">2시간</option>
                                    <option value="150">2시간 30분</option>
                                    <option value="180">3시간</option>
                                    <option value="210">3시간 30분</option>
                                    <option value="240">4시간</option>
                                    <option value="300">5시간</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="difficulty" class="col-sm-2 col-form-label">난이도</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="difficulty" name="difficulty">
                                    <option>난이도 선택</option>
                                    <option value="1">★☆☆☆☆</option>
                                    <option value="2">★★☆☆☆</option>
                                    <option value="3">★★★☆☆</option>
                                    <option value="4">★★★★☆</option>
                                    <option value="5">★★★★★</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="tag" class="col-sm-2 col-form-label">태그</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="tag" id="tag"
                                       placeholder="콤마(,)로 구분 - 예) 술안주,볶음,소고기"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="imageFile" class="col-sm-2 col-form-label">레시피 이미지</label>
                            <div class="col-sm-10">
                                <img th:src="${recipeImagePath} + ${recipeView.getImage()}" id="imagePreview"
                                     width="300" height="200" style="border: 1px solid #ced4da"/>
                                <p>
                                    <input type="file" accept="image/*" class="form-control" id="imageFile"
                                           style="display:none;"/>
                                    <input type="hidden" name="image" id="image"
                                           th:value="${recipeImagePath} + ${recipeView.getImage()}"/>
                            </div>
                        </div>
                        <input type="hidden" name="id" th:value="${recipeView.getId()}"/>
                    </form>
                </div>
            </div>

            <div class="card card-register mx-auto mt-3">
                <div class="card-header pt-3">요리 재료</div>
                <div class="card-body">
                    <form id="recipeMaterialRequestList">
                        <th:block th:each="recipeMaterialView, row: ${recipeView.getRecipeMaterialViewList()}">
                            <div class="form-group row mb-0">
                                <div class="form-group col-sm-1">
                                    <label class="mt-1" th:text="${'재료' + row.count}">재료</label>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="material1" class="sr-only">재료</label>
                                    <select class="form-control" id="material1" name="material">
                                        <option>재료 선택</option>
                                        <th:block th:each="material: ${materialList}">
                                            <option th:if="${material.getId() == recipeMaterialView.getMaterialId()}"
                                                    th:value="${material.getId()}"
                                                    th:attr="data-unit=${material.getUnitName()}"
                                                    th:text="${material.getName()}"
                                                    selected></option>
                                            <option th:if="${material.getId() != recipeMaterialView.getMaterialId()}"
                                                    th:value="${material.getId()}"
                                                    th:attr="data-unit=${material.getUnitName()}"
                                                    th:text="${material.getName()}"></option>
                                        </th:block>
                                    </select>
                                </div>
                                <div class="form-group col-sm-2">
                                    <label for="materialQuantity1" class="sr-only">수량</label>
                                    <input type="number" class="form-control" name="materialQuantity"
                                           id="materialQuantity1" placeholder="수량"
                                           th:value="${#strings.replace(recipeMaterialView.getQuantity(), '.0', '')}"/>
                                </div>
                                <div class="form-group col-sm-2">
                                    <label for="materialUnitName1" class="sr-only">단위</label>
                                    <input type="text" class="form-control" name="materialUnitName"
                                           id="materialUnitName1" readonly
                                           th:value="${recipeMaterialView.getMaterialUnitName()}"/>
                                </div>
                                <th:block th:if="${row.count > 1}">
                                    <div class="form-group col-sm-1">
                                        <button class="btn btn-link delRow" type="button">
                                            <i class="fa fa-times-circle"></i>
                                        </button>
                                    </div>
                                </th:block>
                            </div>
                        </th:block>
                    </form>
                    <div class="text-center">
                        <input type="hidden" id="seqMaterial" value="1"/>
                        <button class="btn btn-secondary" type="button" id="addMaterial">추가</button>
                    </div>
                </div>
            </div>

            <div class="card card-register mx-auto mt-3">
                <div class="card-header pt-3">요리 순서</div>
                <div class="card-body">
                    <form id="recipeStepRequestList">
                        <th:block th:each="recipeStepView, row: ${recipeView.getRecipeStepViewList()}">
                            <div class="form-group row mb-0">
                                <div class="form-group col-sm-1">
                                    <label class="mt-1" th:text="${'순서' + row.count}">순서</label>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="stepContent1" class="sr-only">단계</label>
                                    <textarea class="form-control" id="stepContent1" name="stepContent" rows="6"
                                              th:text="${recipeStepView.getContent()}"></textarea>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="stepImageFile1" class="sr-only">단계이미지</label>
                                    <div class="col-sm-10">
                                        <img th:if="${not #strings.isEmpty(recipeStepView.getImage())}"
                                             th:src="${stepImagePath} + ${recipeStepView.getImage()}"
                                             class="stepImagePreview" id="stepImagePreview1" width="240" height="160"
                                             style="border: 1px solid #ced4da"/>
                                        <img th:if="${#strings.isEmpty(recipeStepView.getImage())}"
                                             th:src="${commonImagePath} + 'add_image.jpg'" class="stepImagePreview"
                                             id="stepImagePreview1" width="240" height="160"
                                             style="border: 1px solid #ced4da"/>
                                        <input type="file" accept="image/*" class="form-control stepImageFile"
                                               id="stepImageFile1" style="display:none;"/>
                                        <input type="hidden" name="stepImage" id="stepImage1"
                                               th:value="${stepImagePath} + ${recipeStepView.getImage()}"/>
                                    </div>
                                </div>
                                <th:block th:if="${row.count > 1}">
                                    <div class="form-group col-sm-1">
                                        <button class="btn btn-link delRow" type="button">
                                            <i class="fa fa-times-circle"></i>
                                        </button>
                                    </div>
                                </th:block>
                            </div>
                        </th:block>
                    </form>
                    <div class="text-center">
                        <input type="hidden" id="seqStep" value="1"/>
                        <button class="btn btn-secondary" type="button" id="addStep">추가</button>
                    </div>
                </div>
            </div>

            <div class="mt-4">
                <div class="form-group row">
                    <div class="form-group col-sm-6">
                        <button class="btn btn-primary btn-block btn-lg" type="button" id="save">저장</button>
                    </div>
                    <div class="form-group col-sm-6">
                        <button class="btn btn-secondary btn-block btn-lg" type="button" id="cancel">취소</button>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="btn btn-primary scrollUp">
            <i class="fa fa-arrow-circle-o-up"></i>
        </a>
    </div>
</th:block>

<th:block layout:fragment="custom_js">
    <script type="text/javascript" th:inline="javascript">
        const materialList = [[${materialList}]];
        const commonImagePath = [[${commonImagePath}]];
        const rowMaterial = `
                        <div class="form-group row new-row mb-0 mt-3">
                            <div class="form-group col-sm-1">
                                <label class="mt-1">재료{seq}</label>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="material{seq}" class="sr-only">재료</label>
                                <select class="form-control" id="material{seq}" name="material">
                                    <option>재료 선택</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="materialQuantity{seq}" class="sr-only">수량</label>
                                <input type="number" class="form-control" name="materialQuantity" id="materialQuantity{seq}" placeholder="수량"/>
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="materialUnitName{seq}" class="sr-only">단위</label>
                                <input type="text" class="form-control" name="materialUnitName" id="materialUnitName{seq}" readonly/>
                            </div>
                            <div class="form-group col-sm-1">
                                <button class="btn btn-link delRow" type="button">
                                    <i class="fa fa-times-circle"></i>
                                </button>
                            </div>
                        </div>`;
        const rowStep = `<div class="form-group row new-row mb-0 mt-3">
                            <div class="form-group col-sm-1">
                                <label class="mt-1">순서{seq}</label>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="stepContent{seq}" class="sr-only">단계</label>
                                <textarea class="form-control" id="stepContent{seq}" name="stepContent" rows="6"></textarea>
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="stepImageFile{seq}" class="sr-only">단계이미지</label>
                                <div class="col-sm-10">
                                    <img src="${commonImagePath}add_image.jpg" class="stepImagePreview" id="stepImagePreview{seq}" width="240" height="160" style="border: 1px solid #ced4da"/>
                                    <input type="file" accept="image/*" class="form-control stepImageFile" id="stepImageFile{seq}" style="display:none;"/>
                                    <input type="hidden" name="stepImage" id="stepImage{seq}"/>
                                </div>
                            </div>
                            <div class="form-group col-sm-1">
                                <button class="btn btn-link delRow" type="button">
                                    <i class="fa fa-times-circle"></i>
                                </button>
                            </div>
                        </div>`;

        $(document).ready(function () {
            const recipeTagViewList = [[${recipeView.getRecipeTagViewList()}]];
            let tags = "";
            if (recipeTagViewList.length >= 1) {
                tags = recipeTagViewList[0]["tag"];
                for (let i = 1; i < recipeTagViewList.length; i++) {
                    tags += "," + recipeTagViewList[i]["tag"];
                }
            }

            $("#estimatedTime").val("[[${recipeView.getEstimatedTime()}]]");
            $("#difficulty").val("[[${recipeView.getDifficulty()}]]");
            $("#tag").val(tags);
        });

        $("#addMaterial").on("click", function () {
            const $seqMaterial = $("#seqMaterial");
            const $formMaterial = $("#recipeMaterialRequestList");
            const nextSeq = Number($seqMaterial.val()) + 1;
            const row = rowMaterial.replace(/{seq}/gi, nextSeq);

            $formMaterial.append(row);
            $seqMaterial.val(nextSeq);

            for (let i = 0; i < materialList.length; i++) {
                const option = `<option value="${materialList[i].id}" data-unit="${materialList[i].unitName}">${materialList[i].name}</option>`;
                $formMaterial.find("select:last").append(option);
            }
        });

        $("#addStep").on("click", function () {
            const $seqStep = $("#seqStep");
            const nextSeq = Number($seqStep.val()) + 1;
            const row = rowStep.replace(/{seq}/gi, nextSeq);

            $("#recipeStepRequestList").append(row);
            $seqStep.val(nextSeq);
        });

        $(document).on("click", ".delRow", function (e) {
            $(this).parents(".row").remove();
        });

        $("#imagePreview").on("click", function () {
            $("#imageFile").click();
        });

        $("#imageFile").on("change", function () {
            uploadImage("recipe", $(this), $("#image"), $("#imagePreview"));
        });

        $(document).on("change", "select[name=material]", function () {
            const unit = $(this).find("option:selected").data("unit");
            $(this).parents(".row").find("input[name=materialUnitName]").val(unit);
        });

        $(document).on("click", ".stepImagePreview", function () {
            $(this).siblings(".stepImageFile").click();
        });

        $(document).on("change", ".stepImageFile", function () {
            uploadImage("step", $(this), $(this).siblings("input[name=stepImage]"), $(this).siblings(".stepImagePreview"));
        });

        $("#save").on("click", function () {
            if (!confirm("정말로 레시피를 저장하시겠습니까?")) {
                return;
            }

            const mainJson = $("#main").serializeObject();
            const materialJson = $("#recipeMaterialRequestList").serializeObject();
            const stepJson = $("#recipeStepRequestList").serializeObject();
            const request = {};

            // 기본정보
            const splitImage = mainJson.image.split("/");
            request.title = mainJson.title;
            request.image = splitImage[splitImage.length - 1];
            request.estimatedTime = Number(mainJson.estimatedTime);
            request.difficulty = Number(mainJson.difficulty);

            // 요리재료
            request.recipeMaterialRequestList = [];
            if (Array.isArray(materialJson.material)) {
                for (let i = 0; i < materialJson.material.length; i++) {
                    const material = {};
                    material.materialId = Number(materialJson.material[i]);
                    material.quantity = Number(materialJson.materialQuantity[i]);
                    request.recipeMaterialRequestList.push(material);
                }
            } else {
                const material = {};
                material.materialId = Number(materialJson.material);
                material.quantity = Number(materialJson.materialQuantity);
                request.recipeMaterialRequestList.push(material);
            }

            // 요리순서
            request.recipeStepRequestList = [];
            if (Array.isArray(stepJson.stepContent)) {
                for (let i = 0; i < stepJson.stepContent.length; i++) {
                    const step = {};
                    const splitStepImage = stepJson.stepImage[i].split("/");

                    step.step = i + 1;
                    step.content = stepJson.stepContent[i];
                    step.image = splitStepImage[splitStepImage.length - 1];
                    request.recipeStepRequestList.push(step);
                }
            } else {
                const step = {};
                const splitStepImage = stepJson.stepImage.split("/");

                step.step = 1;
                step.content = stepJson.stepContent;
                step.image = splitStepImage[splitStepImage.length - 1];
                request.recipeStepRequestList.push(step);
            }

            // 태그
            request.recipeTagRequestList = [];
            const $tag = $("#tag");
            if ($.trim($tag.val()) !== "") {
                const tagList = $tag.val().split(",");
                for (let i = 0; i < tagList.length; i++) {
                    const tag = {};
                    tag.tag = $.trim(tagList[i]);
                    request.recipeTagRequestList.push(tag);
                }
            }

            $.ajax({
                type: "POST",
                url: "/recipe/modify/ajax/" + "[[${recipeView.getId()}]]",
                data: JSON.stringify(request),
                dataType: "json",
                accept: "application/json",
                contentType: "application/json; charset=utf-8",
                async: true,
                success: function (data, status, xhr) {
                    alert("레시피가 수정되었습니다.");

                    window.location = "/recipe/view/" + "[[${recipeView.getId()}]]";
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);

                    if (jqXHR.responseJSON.status === 400) {
                        showErrorMessage(jqXHR);
                        alert("레시피 수정에 실패하였습니다.\n입력하신 내용을 확인해주세요.");
                    } else {
                        alert("레시피 수정에 실패하였습니다.");
                    }
                }
            });
        });

        $("#cancel").on("click", function () {
            window.location = "/";
        });
    </script>
</th:block>

</html>