<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">

<th:block layout:fragment="html_head">
    <title>마이레시피 - 레시피 등록</title>
</th:block>

<th:block layout:fragment="custom_css">
</th:block>

<th:block layout:fragment="content_body">
    <div class="wrapper py-5 bg-light">
        <div class="container">
            <div class="card card-register">
                <div class="card-header">레시피 기본정보</div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="title" class="col-sm-2 col-form-label">레시피 제목</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="title" id="title" placeholder=""/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">예상시간</label>
                        <div class="form-group col-sm-5">
                            <label for="estimatedTime1" class="sr-only">시간</label>
                            <select class="form-control" id="estimatedTime1">
                                <option>시간</option>
                                <option value="0">0시간</option>
                                <option value="60">1시간</option>
                                <option value="120">2시간</option>
                                <option value="180">3시간</option>
                                <option value="240">4시간</option>
                                <option value="300">5시간</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-5">
                            <label for="estimatedTime2" class="sr-only">분</label>
                            <select class="form-control" id="estimatedTime2">
                                <option>분</option>
                                <option value="0">0분</option>
                                <option value="5">5분</option>
                                <option value="10">10분</option>
                                <option value="15">15분</option>
                                <option value="20">20분</option>
                                <option value="25">25분</option>
                                <option value="30">30분</option>
                                <option value="35">35분</option>
                                <option value="40">40분</option>
                                <option value="45">45분</option>
                                <option value="50">50분</option>
                                <option value="55">55분</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="difficulty" class="col-sm-2 col-form-label">난이도</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="difficulty">
                                <option>난이도 선택</option>
                                <option value="1">★☆☆☆☆</option>
                                <option value="2">★★☆☆☆</option>
                                <option value="3">★★★☆☆</option>
                                <option value="4">★★★★☆</option>
                                <option value="5">★★★★★</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="imageFile" class="col-sm-2 col-form-label">레시피 이미지</label>
                        <div class="col-sm-10">
                            <input type="file" accept="image/*" class="form-control" id="imageFile"/>
                            <input type="hidden" name="image" id="image"/>
                            <img class="pt-2" id="imagePreview" th:width="350" th:height="200" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="card card-register mx-auto mt-2">
                <div class="card-header pt-3">요리 재료</div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="form-group col-sm-6">
                            <label for="materialName" class="sr-only">시간</label>
                            <select class="form-control" id="materialName">
                                <option>재료 선택</option>
                                <th:block th:each="material: ${materialList}">
                                    <option th:value="${material.getId()}" th:attr="data-unit=${material.getUnitName()}" th:text="${material.getName()}"></option>
                                </th:block>
                            </select>
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="materialUnitName" class="sr-only">단위</label>
                            <input type="text" class="form-control" name="materialQuantity" id="materialUnitName" placeholder="" readonly/>
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="materialQuantity" class="sr-only">수량</label>
                            <input type="number" class="form-control" name="materialQuantity" id="materialQuantity" placeholder="수량"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card card-register mx-auto mt-2">
                <div class="card-header pt-3">요리 순서</div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="form-group col-sm-9">
                            <label for="stepContent" class="sr-only">단계</label>
                            <textarea class="form-control" id="stepContent" rows="6"></textarea>
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="stepImageFile" class="sr-only">단계이미지</label>
                            <div class="col-sm-10">
                                <input type="file" accept="image/*" class="form-control" id="stepImageFile"/>
                                <input type="hidden" name="image" id="stepImage"/>
                                <img class="pt-2" id="stepImagePreview" th:width="140" th:height="100" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class=" mt-2">
                <button class="btn btn-primary" type="button" id="save" data-loading-text="저장중..">저장</button>
                <button class="btn btn-secondary" type="button">취소</button>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="custom_js">
    <script type="text/javascript" th:inline="javascript">
        $("#save").on("click", function () {
            const request = {
                title: $("#title").val(),
                image: $("#image").val(),
                estimatedTime: Number($("#estimatedTime1").val()) + Number($("#estimatedTime2").val()),
                difficulty: $("#difficulty").val()
            };

            $.ajax({
                type: "POST",
                url : "/recipe/register/ajax",
                data: JSON.stringify(request),
                dataType: "json",
                accept: "application/json",
                contentType: "application/json; charset=utf-8",
                async: true,
                success : function(data, status, xhr) {
                    alert("success");
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR.responseJSON.message);
                    alert(textStatus);
                }
            });
        });

        $("#imageFile").on("change", function () {
            uploadImage("recipe");
        });

        $("#materialName").on("change", function () {
            $("#materialUnitName").val($("#materialName option:selected").data("unit"));
        });

        function uploadImage(path) {
            const file = $('#imageFile')[0].files[0];
            const sendData = new FormData();
            sendData.append("file", file);
            sendData.append("path", path);

            $.ajax({
                type: "POST",
                url : "/recipe/upload/ajax",
                data: sendData,
                processData: false,
                contentType: false,
                async: true,
                success : function(data, status, xhr) {
                    $("#image").val(data);
                    $("#imagePreview").attr("src", data);
                    alert("레시피 사진이 등록되었습니다.");
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR.responseJSON.message);
                    alert(textStatus);
                }
            });
        }
    </script>
</th:block>

</html>