<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">

<th:block layout:fragment="html_head">
    <title th:text="'마이레시피 - ' + ${recipeView.getTitle()}">마이레시피 - 상세보기</title>
</th:block>

<th:block layout:fragment="custom_css">
</th:block>

<th:block layout:fragment="content_body">
    <div class="wrapper py-5 bg-light">
        <div class="container">
            <div class="card card-register">
                <div class="card-body text-center">
                    <img class="my-3" th:src="${recipeImagePath} + ${recipeView.getImage()}" width="600"
                         height="400" style="border: 1px solid #ced4da"/>
                    <h2 class="mt-3 mb-4" th:text="${recipeView.getTitle()}"></h2>
                    <div class="row mb-2">
                        <div class="col-md-12 text-center">
                            <small class="text-muted">
                                <th:block th:each="recipeTagView: ${recipeView.getRecipeTagViewList()}">
                                    <span th:text="'#' + ${recipeTagView.getTag()}"></span>
                                </th:block>
                            </small>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-md-12 text-center">
                            <span>요리설명 추가</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 my-3 text-center">
                            <span th:text="${'[소요시간] ' + recipeView.getEstimatedTime() + ' 분'}"></span>
                        </div>
                        <div class="col-md-6 my-2 text-center">
                            <span th:if="${recipeView.getDifficulty() == 1}">[난이도] ★☆☆☆☆</span>
                            <span th:if="${recipeView.getDifficulty() == 2}">[난이도] ★★☆☆☆</span>
                            <span th:if="${recipeView.getDifficulty() == 3}">[난이도] ★★★☆☆</span>
                            <span th:if="${recipeView.getDifficulty() == 4}">[난이도] ★★★★☆</span>
                            <span th:if="${recipeView.getDifficulty() == 5}">[난이도] ★★★★★</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card card-register mx-auto mt-3">
                <div class="card-body text-center">
                    <h4 class="mt-3 mb-4">요리재료</h4>
                    <th:block th:each="recipeMaterialView: ${recipeView.getRecipeMaterialViewList()}">
                        <div class="col-md-4 my-3 text-center">
                            <span th:text="${recipeMaterialView.getMaterialName() + ': '}"></span>
                            <span th:text="${recipeMaterialView.getQuantity()}"></span>
                            <span th:text="${recipeMaterialView.getMaterialUnitName()}"></span>
                        </div>
                    </th:block>
                </div>
            </div>

            <div class="card card-register mx-auto mt-3">
                <div class="card-body text-center">
                    <h4 class="mt-3 mb-4">요리순서</h4>
                    <th:block th:each="recipeStepView: ${recipeView.getRecipeStepViewList()}">
                        <div class="col-md-12 mt-3 mb-1 text-center">
                            <span th:text="${recipeStepView.getStep() + '단계: '}"></span>
                            <span th:text="${recipeStepView.getContent()}"></span>
                        </div>
                        <img class="mt-1 mb-3" th:src="${stepImagePath} + ${recipeStepView.getImage()}" width="450"
                             height="300" style="border: 1px solid #ced4da"/>
                    </th:block>
                </div>
            </div>

            <div class="mt-4">
                <div class="form-group row">
                    <div class="form-group col-sm-6">
                        <button class="btn btn-primary btn-block btn-lg" type="button" id="modify">수정</button>
                    </div>
                    <div class="form-group col-sm-6">
                        <form th:action="@{/recipe/delete/{id}(id=${recipeView.getId()})}" method="post">
                            <button class="btn btn-secondary btn-block btn-lg" type="submit" id="delete">삭제</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="btn btn-primary scrollUp">
            <i class="fa fa-arrow-circle-o-up"></i>
        </a>
    </div>
</th:block>

<th:block layout:fragment="custom_js">
    <script type="text/javascript" th:inline="javascript">
        $("#modify").on("click", function () {
            window.location = "/recipe/modify/" + "[[${recipeView.getId()}]]";
        });
    </script>
</th:block>

</html>