<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="mainHead">
    <!-- Meta Data -->
    <meta charset="UTF-8">
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}" type="image/x-icon" />

    <!-- html head 추가부 -->
    <th:block layout:fragment="html_head"></th:block>

    <!-- Css lib -->
    <link rel="stylesheet" th:href="@{/dist/font-awesome/css/font-awesome.min.css}" />

    <!-- Css custom -->
    <link rel="stylesheet" th:href="@{/css/main.css}">

    <!-- Custom css -->
    <th:block layout:fragment="custom_css"></th:block>
</head>

</html>