<html lang="ko" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header id="header">
    <div class="navbar navbar-light box-shadow">
        <div class="container d-flex justify-content-between">
            <a class="navbar-brand" href="/" id="header-logo">
                <img src="/img/logo.png" class="img-fluid" alt="My.레시피">
            </a>
            <div sec:authorize-expr="!isAuthenticated()">
                <a href="/login"><img src="/img/login.png" alt="Login" style="width: 55px"></a>
                <a href="/member/register"><img src="/img/join.png" alt="Join" style="width: 46px"></a>
            </div>
            <div sec:authorize-expr="isAuthenticated()">
                <a href="javascript:logout()"><img src="/img/logout.png" alt="Logout" style="width: 75px"></a>
            </div>
        </div>
    </div>
</header>
</html>